h1, h2, h3, h4, h5, h6, p, span, q, dd {
    font-family: 'Roboto', sans-serif;
}

.app-badge-green {
    background-color: #1DE9B6;
}

.app-info-icon {
    display: block;
}

.app-description {
    font-size: larger;
}


.app-card-body {
    max-height: 250px;
}